{% extends 'expertView/expertMaster.html'%}

{% block body %}
{% load staticfiles%}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/chat.css' %}" rel="stylesheet">
<link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% verbatim %}
<div class="container" style="padding: 0px;">

</div>    <!-- container -->
{% endverbatim %}




<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'angular/js/angular.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'angular/expertChatApp.js' %}"></script>

{% endblock %}
